.main-banner {
  position: relative;
  min-height: 500px;

  .bg-absolute {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    opacity: .5;
  }
}

.main-text {
  padding-top: 40px;
  color: #633991;
  line-height: 1.1;

  span {
    &:nth-of-type(1) {
      font-size: 48px;
    }
    &:nth-of-type(2) {
      font-size: 48px;
    }
    &:nth-of-type(3) {
      margin-left: 1em;
      font-size: 36px;
    }
  }
}

@media (max-width: 1199px) {
  .main-text {
    span {
      &:nth-of-type(1) {
        font-size: 40px;
      }

      &:nth-of-type(2) {
        font-size: 40px;
      }

      &:nth-of-type(3) {
        font-size: 30px;
      }
    }
  }
}

@media (max-width: 991px) {
  .main-text {
    padding-top: 50px;

    span {
      &:nth-of-type(1) {
        font-size: 36px;
      }

      &:nth-of-type(2) {
        font-size: 36px;
      }

      &:nth-of-type(3) {
        font-size: 24px;
      }
    }
  }
}

@media (max-width: 767px) {
  .main-text {
    padding-top: 60px;

    span {
      &:nth-of-type(1) {
        font-size: 36px;
      }

      &:nth-of-type(2) {
        font-size: 36px;
      }

      &:nth-of-type(3) {
        font-size: 24px;
      }
    }
  }
}

.waves-container {
  &.waves-container__main {
    .waves-image {
      height: 300px;
      margin-top: -160px;
    }

    .img-dancers {
      height: 150px;
    }

    .apply-btn-main {
      width: 170px;
      height: 170px;
      border-radius: 85px;
      border: 8px solid #3dd44b;
      color: #fff;
      background: #4ae658;
      font-size: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
    }
  }
}

.quick-gallery {
  img {
    width: unset !important;
    height: 400px;
  }
}

.card-text {
  font-size: 16px;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

.slick-prev, .slick-next {
  width: 40px;
  height: 40px;
  z-index: 100;

  &:before {
    color: #FA2A8F;
    font-size: 40px;
  }
}

.social-icons {
  position: fixed;
  right: 0;
  top: 30%;
  display: flex;
  flex-direction: column;
  z-index: 4000;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 60px;
    height: 60px;

    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .6);
    font-size: 30px;

    &.ti-facebook {
      background: #4267B2;
      color: #fff;
    }

    &.ti-instagram {
      background: #FABF2A;
      color: #fff;
    }
  }
}
