{% extends 'base/base.html' %}
{% load static i18n %}
{% load render_bundle from webpack_loader %}

{% block title %}{% trans 'Школа танців' %}{% endblock %}

{% block style %}
    {% render_bundle 'galleryStyle' %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="gallery-container">
            {% for vid in videos %}
                <div class="gallery-item gallery-item__video">
                    <iframe frameborder="0" allow="autoplay; encrypted-media" allowfullscreen
                            src="{{ vid.src }}"></iframe>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% render_bundle 'gallery' %}
{% endblock %}