{% extends 'base/base.html' %}
{% load static i18n %}
{% load render_bundle from webpack_loader %}

{% block title %}{% trans 'Школа танців' %}{% endblock %}

{% block style %}
    {% render_bundle 'galleryStyle' %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="gallery-container">
            {% for img in photos %}
                <div class="gallery-item">
                    <img src="{{ img.image.url }}">
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% render_bundle 'gallery' %}
{% endblock %}