{% extends 'base/base.html' %}
{% load static i18n pages_tags %}

{% block title %}{% trans 'Школа танців' %}{% endblock %}

{% block content %}
    {% get_page "news" as news_page %}
    <div class="container">
        <h2 class="text-center">Новини</h2>
        <br>
        <div class="row">
            {% for news_item in news_page.published_children %}
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% show_content news_item "image" lang %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{% show_content news_item "heading" lang %}</h5>
                        <p class="card-text">{% show_content news_item "preview" lang %}</p>
                        <a href="{% show_absolute_url news_item %}">читати далі >></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}