{% extends 'base/base.html' %}
{% load static i18n pages_tags %}

{% block title %}{% trans 'Школа танців' %}{% endblock %}

{% block content %}
    {% get_page "news" as news_page %}
    <div class="container-fluid">
        <div class="section-title">
            <h3>Новини</h3>
        </div>

        <div class="row justify-content-center">
            {% for article in news_page.published_children %}
                <div class="card m-2" style="width: 18rem;">
                    <img class="card-img-top" src="{% get_media_prefix %}{% show_content article "image" lang %}">
                    <div class="card-body">
                        {% get_content article "heading" lang as article_heading %}
                        {% get_content article "preview" lang as article_preview %}
                        <h6>{{ article_heading|truncatechars:100 }}</h6>
                        <p class="card-text">{{ article_preview|truncatechars:150 }}</p>
                        <a href="{% show_absolute_url article %}">читати далі >></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}