{% extends 'base/base.html' %}
{% load static i18n pages_tags %}

{% block content %}
    {% get_page "landing_test" as CMS_landing %}


    <header class="bg-gradient" id="home">
        <div class="container mt-5">
            <h1>Mobile App Landing Page Template</h1>
            <p class="tagline">The one and only solution for any kind of mobila app landing needs. Just change the
                screenshots and texts and you are good to go. </p>
        </div>
    </header>

    <div class="section light-bg" id="features">
        <div class="container">
            <div class="section-title">
                <small>HIGHLIGHTS</small>
                <h3>Features you love</h3>
            </div>
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-face-smile gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">Simple</h4>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Integer rutrum, urna eu pellentesque </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-settings gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">Customize</h4>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Integer rutrum, urna eu pellentesque </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-lock gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">Secure</h4>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Integer rutrum, urna eu pellentesque </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="section-title">
                <h3>{% trans 'Про нас' %}</h3>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md">
                    <p>{% lorem %}</p>
                    <p>{% lorem %}</p>
                </div>
                <div class="col-auto">
                    <img src="{% static 'base/images/graphic.png' %}" alt="graphic"
                         class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0">
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="section-title">
                <h3>What our Customers Says</h3>
            </div>
            <div class="testimonials owl-carousel">
                <div class="testimonials-single">
                    <img src="images/client.png" alt="client" class="client-img">
                    <blockquote class="blockquote">Uniquely streamline highly efficient scenarios and 24/7 initiatives.
                        Conveniently embrace multifunctional ideas through proactive customer service. Distinctively
                        conceptualize 2.0 intellectual capital via user-centric partnerships.
                    </blockquote>
                    <h5 class="mt-4 mb-2">Crystal Gordon</h5>
                    <p class="text-primary">United States</p>
                </div>
                <div class="testimonials-single">
                    <img src="images/client.png" alt="client" class="client-img">
                    <blockquote class="blockquote">Uniquely streamline highly efficient scenarios and 24/7 initiatives.
                        Conveniently embrace multifunctional ideas through proactive customer service. Distinctively
                        conceptualize 2.0 intellectual capital via user-centric partnerships.
                    </blockquote>
                    <h5 class="mt-4 mb-2">Crystal Gordon</h5>
                    <p class="text-primary">United States</p>
                </div>
                <div class="testimonials-single">
                    <img src="images/client.png" alt="client" class="client-img">
                    <blockquote class="blockquote">Uniquely streamline highly efficient scenarios and 24/7 initiatives.
                        Conveniently embrace multifunctional ideas through proactive customer service. Distinctively
                        conceptualize 2.0 intellectual capital via user-centric partnerships.
                    </blockquote>
                    <h5 class="mt-4 mb-2">Crystal Gordon</h5>
                    <p class="text-primary">United States</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}