{% extends 'base/base.html' %}
{% load static i18n pages_tags %}

{% block content %}
    {% get_page "landing_test" as CMS_landing %}


    <header id="home" class="main-banner"
            style="background-image: url({% static 'base/images/hall.jpeg' %})">
        <div class="bg-absolute bg-gradient"></div>
        <div class="main-banner-content">

        </div>
    </header>

    <div class="waves-container">
        <img class="waves-image" src="{% static 'base/images/waves.svg' %}">
        <div class="waves-content">
            <h3>{% trans 'Хореографічна школа' %}</h3>
            <h1>{% trans '"Sonat"' %}</h1>
        </div>
    </div>

    <div class="section light-bg" id="features">
        <div class="container">
            <div class="section-title">
                <h3>{% trans 'Чому танці - це круто?' %}</h3>
            </div>
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="card features h-100">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-face-smile gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">{% trans 'Ємоційно' %}</h4>
                                    <p class="card-text">
                                        {% trans 'З давніх часів танець був найчутливішою формою вираження настрою, бажань, почуттів, або навіть слів.' %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card features h-100">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-settings gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">{% trans 'Зручно' %}</h4>
                                    <p class="card-text">
                                        {% trans 'Поки діти будуть робити важливі кроки до пізнання цього виду мистецтва, батьки зможуть зачекати їх, а заразом і відпочити у великому та зручному холі.' %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card features h-100">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-thumb-up gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">{% trans 'Корисно' %}</h4>
                                    <p class="card-text">
                                        {% trans 'Танець не лише дає гарний настрій, а й розвиває та зміцнює тіло.' %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="section-title">
                <h3>{% trans 'Про нас' %}</h3>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md">
                    <p>{% lorem %}</p>
                    <p>{% lorem %}</p>
                </div>
                <div class="col-auto">
                    <img src="{% static 'base/images/graphic.png' %}" alt="graphic"
                         class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0">
                </div>
            </div>
        </div>
    </div>

    <div class="section light-bg">
        <div class="container">
            <div class="section-title">
                <h3>{% trans 'Відгуки' %}</h3>
            </div>
            <div class="testimonials owl-carousel">
                <div class="testimonials-single">
                    <blockquote class="blockquote">Uniquely streamline highly efficient scenarios and 24/7 initiatives.
                        Conveniently embrace multifunctional ideas through proactive customer service. Distinctively
                        conceptualize 2.0 intellectual capital via user-centric partnerships.
                    </blockquote>
                    <h5 class="mt-4 mb-2">Crystal Gordon</h5>
                </div>
                <div class="testimonials-single">
                    <blockquote class="blockquote">Uniquely streamline highly efficient scenarios and 24/7 initiatives.
                        Conveniently embrace multifunctional ideas through proactive customer service. Distinctively
                        conceptualize 2.0 intellectual capital via user-centric partnerships.
                    </blockquote>
                    <h5 class="mt-4 mb-2">Crystal Gordon</h5>
                </div>
                <div class="testimonials-single">
                    <blockquote class="blockquote">Uniquely streamline highly efficient scenarios and 24/7 initiatives.
                        Conveniently embrace multifunctional ideas through proactive customer service. Distinctively
                        conceptualize 2.0 intellectual capital via user-centric partnerships.
                    </blockquote>
                    <h5 class="mt-4 mb-2">Crystal Gordon</h5>
                </div>
            </div>
        </div>
    </div>

{% endblock %}