{% extends 'base/base_landing.html' %}
{% load static i18n pages_tags %}

{% block content %}
    {% get_page "landing" as CMS_landing %}
    {% get_page "reviews" as CMS_reviews %}
    {% get_page "info" as info %}

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>

    <header id="home" class="main-banner"
            style="background-image: url({% get_media_prefix %}{% show_content CMS_landing "main_image" %})">
        <div class="bg-absolute bg-gradient"></div>
        <div class="main-banner-content">

        </div>
    </header>

    <div class="waves-container waves-container__main">
        <img class="waves-image" src="{% static 'base/images/waves_2.svg' %}">
        <div class="waves-content">
            <div class="container">
                <div class="row">
                    <div class="col-auto">
                        <img class="img-dancers" src="{% static 'base/images/dancers.png' %}">
                    </div>
                    <div class="col" style="padding-top: 40px; color: #633991; line-height: 1.1">
                        <span style="font-size: 48px">Хореографічна</span>
                        <br>
                        <span style="font-size: 48px">школа</span>
                        <span style="font-size: 36px">&nbsp;&nbsp;&nbsp;для дітей та юнацтва</span>
                    </div>
                    <div class="col-auto">
                        <a href="{% show_content info "apply_url" %}" target="_blank"
                           class="apply-btn-main" style="margin-top: 20px">{% trans 'Запис' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section light-bg" id="features" style="padding: 170px">
        <div class="container">
            <div class="section-title">
                <h3>{% trans 'Чому танці - це круто?' %}</h3>
            </div>

            <div class="your-class">
                <div>your content</div>
                <div>your content</div>
                <div>your content</div>
            </div>
        </div>
    </div>

    <div class="section light-bg" id="features" style="padding: 170px">
        <div class="container">
            <div class="section-title">
                <h3>{% trans 'Чому танці - це круто?' %}</h3>
            </div>
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="card features h-100">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-face-smile gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">{% trans 'Ємоційно' %}</h4>
                                    <p class="card-text">
                                        {% trans 'З давніх часів танець був найчутливішою формою вираження настрою, бажань, почуттів, або навіть слів.' %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card features h-100">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-settings gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">{% trans 'Зручно' %}</h4>
                                    <p class="card-text">
                                        {% trans 'Поки діти будуть робити важливі кроки до пізнання цього виду мистецтва, батьки зможуть зачекати їх, а заразом і відпочити у великому та зручному холі.' %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card features h-100">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-thumb-up gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">{% trans 'Корисно' %}</h4>
                                    <p class="card-text">
                                        {% trans 'Танець не лише дає гарний настрій, а й розвиває та зміцнює тіло.' %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="section-title">
                <h3>{% trans 'Про нас' %}</h3>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md">{% show_content CMS_landing "about_us" %}</div>
                <div class="col-auto">
                    <img src="{% get_media_prefix %}{% show_content CMS_landing "about_us_image" %}"
                         class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0"
                         style="max-width: 300px; max-height: 300px">
                </div>
            </div>
        </div>
    </div>

    <div class="section light-bg">
        <div class="container">
            <div class="section-title">
                <h3>{% trans 'Відгуки' %}</h3>
            </div>
            <div class="testimonials owl-carousel">
                {% for review in CMS_reviews.published_children %}
                    <div class="testimonials-single">
                        <blockquote class="blockquote">{% show_content review "text" %}</blockquote>
                        <h5 class="mt-4 mb-2">{% show_content review "author" %}</h5>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('.your-class').slick({});
        });
    </script>

{% endblock %}