{% load static i18n pages_tags %}
{% load render_bundle from webpack_loader %}

{% get_page "landing" as CMS_landing %}
{% get_page "info" as info %}
{% get_page "schedule" as schedule %}
{% get_page "contacts" as contacts %}
{% get_page "faq" as faq %}
{% get_page "for_parents" as for_parents %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% trans 'Школа танців - Sonat' %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">
</head>
<body data-spy="scroll" data-target="#navbar" data-offset="30">
{% render_bundle 'baseStyle' %}
{% block style %}{% endblock %}


<div class="waves-container">
    <img class="waves-image" src="{% static 'base/images/waves.svg' %}">
    <div class="waves-content">
    </div>
</div>

<div class="nav-menu fixed-top">
    <div class="container">
        <nav class="navbar navbar-dark navbar-expand-lg">
            <a class="navbar-brand sonat-navbar-brand" href="{% url 'main:index' %}">
                <img src="{% get_media_prefix %}{% show_content CMS_landing "logo" %}" class="img-fluid">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav navbar-nav-sonat ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:index' %}">{% trans 'Головна' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:news' %}">{% trans 'Новини' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">
                            {% trans 'Батькам' %}
                            <span class="ti-angle-down"></span>
                        </a>
                        <div class="nav-sub">
                            <a class="nav-link"
                               href="{% show_absolute_url for_parents %}">{% trans 'Загальна інформація' %}</a>
                            <a class="nav-link" href="{% url 'main:pricing' %}">{% trans 'Ціни' %}</a>
                            <a class="nav-link" href="{% show_absolute_url faq %}">{% trans 'Часті запитання' %}</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% show_absolute_url schedule %}">{% trans 'Розклад' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">
                            {% trans 'Галерея' %}
                            <span class="ti-angle-down"></span>
                        </a>
                        <div class="nav-sub">
                            <a class="nav-link" href="{% url 'main:gallery' %}">{% trans 'Фото' %}</a>
                            <a class="nav-link" href="{% url 'main:gallery_video' %}">{% trans 'Відео' %}</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% show_absolute_url contacts %}">{% trans 'Контакти' %}</a>
                    </li>
                    <li class="nav-language-switch">
                        <div class="language-switch">
                            <a href="/uk" {% if LANGUAGE_CODE == 'uk' %}class="active"{% endif %}>УКР</a>
                            <a href="/ru" {% if LANGUAGE_CODE == 'ru' %}class="active"{% endif %}>РУС</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<div class="content-base">
    {% block content %}{% endblock %}
</div>

<div class="section light-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center text-lg-left">
                <p class="mb-2">
                    <span class="ti-location-pin mr-2"></span>
                    {% trans 'м. Київ, район ДВРЗ, вул. Довбуша 18' %}
                </p>
                <div class="d-block d-sm-inline-block">
                    <p class="mb-0">
                        <span class="ti-headphone-alt mr-2"></span>
                        <a href="tel:{% show_content info "telephone_short" %}">{% show_content info "telephone" %}</a>
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>

<footer class="my-5 text-center">
    <p class="mb-2">
        <small>COPYRIGHT © 2017. ALL RIGHTS RESERVED. MOBAPP TEMPLATE BY <a href="https://colorlib.com">COLORLIB</a>
        </small>
    </p>

    <small>
        <a href="#" class="m-2">PRESS</a>
        <a href="#" class="m-2">TERMS</a>
        <a href="#" class="m-2">PRIVACY</a>
    </small>
</footer>

{% render_bundle 'base' %}
{% block scripts %}{% endblock %}
</body>
</html>